{% load staticfiles %}
<html>
<head>
 <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <!--Import jquery CSS-->
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
 <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
 <!--Import Custom CSS to formate widgets-->
   <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}" />
   <link rel="stylesheet" href="{% static 'css/selector.css' %}">
   <link rel="stylesheet" href="{% static 'css/budget.css' %}">
 <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
   <link rel="stylesheet" href="{% static 'css/budget.css' %}">


 
<!--Import materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<!--Import local jquery scripts for filtered multiple select-->
   <script type="text/javascript" src="{% static 'js/jsi18n.js' %}"></script>
   <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
   
<!--JS for home page table formatting -->
<script type="text/javascript" src="{% static 'js/formload.js' %}"></script>

<!--Form Media -->
{{ form.media }}

<!--Initialize select boxes and date pickers -->
<script>
 
 $(document).ready(function() {
    $( '#id_category' ).material_select();
    $( '#id_payCycle' ).material_select();
    $('.datepicker').pickadate({
    	selectMonths: true, // Creates a dropdown to control month
    	selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'mm/dd/yyyy',
        onSet: function( arg ){
            if ( 'select' in arg ){ //prevent closing on selecting month/year
                 this.close();
            }
        }
    });
  });
 
  $(document).ready(function(){
    //Add depth to budget line on hover and see if toast should be shown
     $('[id^="budget-line"]').hover(function() {
        showToast($(this));
        $(this).addClass("z-depth-1 amber lighten-5");
        }, function(){
        $(this).removeClass("z-depth-1 amber lighten-5"); 
     });

    //Highlight first row with current day
     $('[name="True"]:first').addClass("teal lighten-4");

    //Load modal with edititem form
     $( ".modal-form-trigger" ).click(function() { 
        loadModalForm('#modalform',$(this)); 
        $('#modal1').openModal();
     }); 
   
   //Load tooltips
    $('.budget-header').tooltip({delay: 50});
   
   //Load other modals
    $('.modal-trigger').leanModal(); 
  
   //Update date select on semi monthly
    $('#id_payCycle').change(function() {
        autoDate('#id_nextDueDate',$(this));
    });
    
   //mobile formatting  
    if($(document).width() < 500){
        mobileformat();
    }
   
  });
  
 </script>
 
 <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% block title %}{% endblock %}
 <!-- Favicon -->
<link rel="shortcut icon" href="{% static 'pics/GP_icon.ico' %}" type="image/x-icon"/>
<link rel="icon" href="{% static 'pics/GP_icon.ico' %}" type="image/png" sizes="160x160"/>
<link rel="shortcut icon" href="{% static 'pics/GP_icon.png' %}" type="image/png" sizes="160x160"/>
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'pics/GP_icon.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'pics/GP_icon.png' %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'pics/GP_icon.png' %}" />
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'pics/GP_icon.png' %}" />
</head>
<body class="grey lighten-4">
<div class="container">
  <div id="header_row" class="row">
    <div class="col s12">
      <div id="header_card" class="card page-header z-depth-3">
       <div id="header_content" class="card-content center">
        <span class="card-title"><a id="page_header" title="PayPlanner Home" href="{% url 'home' %}" class="amber-text text-darken-1 page-header">GreenPrint PayPlanner</a></span>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">{% block content %}{% endblock %}</div>
  </div>
  <div class="row">
    <div class="col s12">{% block footer %}{% endblock %}</div>
  </div>
 </div>
</body>
</html>
