{% load staticfiles %}
<html>
<head>
 <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <!--Import jquery CSS-->
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
 <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
 <!--Import Custom CSS to formate widgets-->
   <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
   <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}" />
   <link rel="stylesheet" href="{% static 'css/selector.css' %}">
   <link rel="stylesheet" href="{% static 'css/budget.css' %}">
   <link rel="stylesheet" href="{% static 'css/radios-to-slider.css' %}">
 <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

 <!--Import local jquery scripts for filtered multiple select-->
   <script type="text/javascript" src="{% static 'js/jsi18n.js' %}"></script>
   <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

<!--Import materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    {{ form.media }}
<script>
 
 $(document).ready(function() {
    $( 'select' ).material_select();
    $('.datepicker').pickadate({
    	selectMonths: true, // Creates a dropdown to control month
    	selectYears: 15, // Creates a dropdown of 15 years to control year
        showOtherMonths: true,
        selectOtherMonths: true
    });
  });
 
 </script>
 
 <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% block title %}{% endblock %}
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
       <div class="card-content">
        <span class="card-title"><a title="PayPlanner Home" href="{% url 'home' %}" class="page-header">GreenPrint PayPlanner</a></span>
       </div>
        {% if user.is_authenticated %}
       <div class="card-action">
          {% if user.get_full_name %}
         <span class="left">
           Welcome {{ user.first_name }}!
          {% else %}
           Welcome {{ user }}!
          {% endif %}
         <a title="Manage Settings" href="{% url 'manage' %}"><i class="tiny material-icons">settings</i></a></span>
           <a href="{% url 'logout' %}" class="right">Logout</a>
        {% endif %}
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">{% block content %}{% endblock %}</div>
  </div>
  <div class="row">
    <div class="col s12">{% block footer %}{% endblock %}</div>
  </div>
 </div>
</body>
</html>
