{% extends "base.html" %}
{% load bootstrap3 %}
{% comment %}
Item Add template
Author: Matt Agresta
Created on: 9/4/2016
Replace Cancel link with button when getting rid of bootstrap
{% endcomment %}

{% block title %}
<title>Add {{ itemtype }}</title>
{% endblock %}

{% block content %}
<form action="{% url 'config' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<div class="btn-group">
<input type="submit" name="config_btn" value="Save {{ itemtype }}" class="btn btn-primary"/>
<input type="submit" name="config_btn" value="Cancel" class="btn btn-primary"/>
</div>
</form>

{% endblock %}

{% block footer %}
<div class="center">{{ footer }}</div>
{% endblock %}

