{% extends "base.html" %}
{% comment %}
Item Add template
Author: Matt Agresta
Created on: 9/4/2016
{% endcomment %}

{% block title %}
<title>Add {{ itemtype }}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
 <form action="{% url 'config' %}" method="post">
   <div class="row form">
      {% for hidden in form.hidden_fields %}
     <div class="col s12">{{ hidden }}</div>
      {% endfor %}
   </div>
   <div class="row">
      {% for field in form.visible_fields %}
     <div class="input-field col s12">
        {{ field.errors }}
        {{ field }}
        <label class="active" for="{{ field.name }}">{{ field.label }}</label>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
     </div>
     {% endfor %}
   </div>
   <div class="row center">
     <div class="col s12 l6 push-l3">
       <input type="submit" name="config_btn" value="Save {{ itemtype }}" class="btn"/>
       <input type="submit" name="config_btn" value="Cancel" class="btn"/>
     </div>
   </div>
 </form>
</div>
{% endblock %}

{% block footer %}
<div class="center">{{ footer }}</div>
{% endblock %}

