{% extends "base.html" %}
{% comment %}
Item edit template
Author: Matt Agresta
Created on: 9/4/2016
TODO:
Add if statement to read variable to see if income or expense and
put correct title
{% endcomment %}

{% block title %}
<title>Edit {{ name }}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
 <form action="{% url 'edit' itemid %}" method="post">
  <div class="row">
   <div class="col s6 m8">
    <div class="card">
     <div class="card-content">
       <span class="card-title">{{ name }} - {{ date }}</span>
       {% csrf_token %}
       {{ form.as_p }}
     </div>
    </div>
   </div>
 {% if notsingle %}
   <div class="col s6 m4">
    <div class="card">
     <div class="card-content">
       <span class="card-title">Apply to:</span>
       <div id="radios" class="radio">
        <input title="Apply Changes to this line only" id="single" type="radio" name="edit_opt" value="single" checked="checked">
        <label for="single">{{ date }} only</label> 
        <input title="Apply Changes to this line and future dates"id="future" type="radio" name="edit_opt" value="future"> 
        <label for="future">{{ date }} and on</label>
        <input title="Apply Changes to all lines like this" id="all" type="radio" name="edit_opt" value="all"> 
        <label for="all">All {{ name }}</label>
       </div>
     </div>
    </div>
   </div>
 </div>
 {% endif %}
 <div class="row">
   <div class="col s5 push-s4">
     <input type="submit" name="edit_btn" value="Update" class="btn"/>
     <input type="submit" name="edit_btn" value="Delete" class="btn"/>
     <input type="submit" name="edit_btn" value="Cancel" class="btn"/>
   </div>
 </div> 
</form>
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

