{% extends "base.html" %}
{% load bootstrap3 %}
{% comment %}
Item edit template
Author: Matt Agresta
Created on: 9/4/2016
TODO:
Add if statement to read variable to see if income or expense and
put correct title
{% endcomment %}

{% block title %}
<title>Edit {{ name }}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
 <form action="{% url 'edit' itemid %}" method="post">
 <div class="row">
  <div class="col-lg-4"></div>
  <div class="col-xs-12 col-lg-4 form-group">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <div class="col-lg-4"></div>
 </div>
 {% if notsingle %}
 <div class="row">
  <div class="col-lg-4"></div>
  <div class="col-xs-12 col-lg-4">
   <div class="radio">
    <input type="radio" name="edit_opt" value="single" checked="checked"> This occurrence only<br>
    <input type="radio" name="edit_opt" value="future"> Adjust future occurrences<br>
    <input type="radio" name="edit_opt" value="all"> Adjust all occurrence<br><br>
   </div>
  </div>
  <div class="col-lg-4"></div>
 </div>
 {% endif %}
 <div class="row center">
  <div class="btn-group">
   <input type="submit" name="edit_btn" value="Update" class="btn btn-primary"/>
   <input type="submit" name="edit_btn" value="Delete" class="btn btn-danger"/>
   <input type="submit" name="edit_btn" value="Cancel" class="btn btn-default"/>
  </div>
 </div>
 </form>
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

