{% extends "base.html" %}
{% comment %}
Home index template
Author: Matt Agresta
Created on: 9/4/2016
Will hold form to display budget, contain buttons to add item,
remove item, edit item

{% endcomment %}
{% block title %}
<title>PayPlanner Budget</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <form action="{% url 'config' %}" method="post">
    {% csrf_token %}
 {% if lineitems %}
 <div class="row">
  <div class="col s12">
   <div class="card-panel">
   <table class="highlight">
     <thead>
       <tr>
        <th class="tcol-date"></th>
        <th class="tcol-name"></th>
        <th class="tcol-income"><button name="config_btn" value="Add Income" class="btn budget-header green lighten-1"><i class="material-icons">add</i>Income</button></th>
        <th class="tcol-expense"><button name="config_btn" value="Add Expense" class="btn budget-header green lighten-1"><i class="material-icons">add</i>Expense</button></th>
        <th class="tcol-total"></th>
       </tr>
     </thead>
     <tbody>
      {% for item in lineitems %}
	{% if item.running_total < 0 %}
       <tr id="budget-line" "title="{{ item.itemnote }}" class="red-text text-darken-1">
        {% else %}
       <tr id="budget-line" title="{{ item.itemnote }}">
        {% endif %}
        <td><a class="modal-trigger" href="#modal3" title="Edit Item">{{ item.itemdate }}</a></td>
       {% if item.isincome %}
        <td><a href="{% url 'edit' item.itemid %}" title="Edit Item">{{ item.name }}</a></td>
        <td class="light-green-text text-darken-2">{{ item.amount }}</td>
        <td></td>
       {% else %}
        <td><a href="{% url 'edit' item.itemid %}" title="Edit Item">{{ item.name }}</a></td>
        <td></td>
        <td class="red-text text-darken-2">{{ item.amount }}</td>      
       {% endif %}
        <td>{{ item.running_total }}</td>
      </tr>
       <!-- Modal Structure -->
       <div id="modal3" class="modal modal-fixed-footer">
          <div class="modal-content">
             {% if item.isincome %}
             <h4>Income</h4>
             {% else %}
             <h4>Expense</h4>
             {% endif %}
             <p>{{ item.name }}&nbsp&nbsp{{ item.itemdate }}</p>
             <p>{{ item.amount }}</p>
             <p>{{ item.itemnote }}</p>
          </div>
          <div class="modal-footer">
              <a class="btn" href="{% url 'edit' item.itemid %}" title="Edit Item">Edit</a>&nbsp
              <a href="#!" class="modal-action modal-close btn">Ok</a>            
          </div>
       </div>
       <!-- End of Modal -->
      {% endfor %}
     <tbody>
   </table>
  </div>
  </div>
 </div>
 {% else %}
 <div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card">
      <div class="card-content welcome">
        <span class="card-title">Welcome to PayPlanner!</span>
        <p><strong>A simplistic budget tool.</strong></p>
      </div> 
      <div class="card action">
        <p>Please use at your own risk, and avoid inputing account numbers or any other sensitive information.</p>
        <p>It is recommended that you visit <a title="Manage Settings" href="{% url 'manage' %}">Account Settings</a> and configure spending categories before inputing your budget.</p>
      </div>
    </div>
        <input type="submit" name="config_btn" value="Add Income" class="btn left"/>
        <input type="submit" name="config_btn" value="Add Expense" class="btn right"/>
  </div>
</div>
 {% endif %}
  </form>
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

