{% extends "base.html" %}
{% comment %}
Home index template
Author: Matt Agresta
Created on: 9/4/2016
Will hold form to display budget, contain buttons to add item,
remove item, edit item

{% endcomment %}
{% block title %}
<title>PayPlanner Budget</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <form action="{% url 'config' %}" method="post">
    {% csrf_token %}

 {% if lineitems %}
 <div class="row">
  <div class="col s12">
   <div class="card-panel">
   <table id="budget_table" class="highlight">
     <thead>
       <tr>
        <th class="tcol-date"></th>
        <th class="tcol-name"></th>
        <th class="tcol-income"><button name="config_btn" value="Add Income" class="btn budget-header teal lighten-2"><i class="material-icons">add</i>Income</button></th>
        <th class="tcol-expense"><button name="config_btn" value="Add Expense" class="btn budget-header teal lighten-2"><i class="material-icons">add</i>Expense</button></th>
        <th class="tcol-total"></th>
       </tr>
     </thead>
 </form>
     <tbody>

      {% for item in lineitems %}
    
	{% if item.running_total < 0 %}
       
       <tr id="budget-line-{{ item.itemid }}" name="{{ item.istoday }}" title="{{ item.itemnote }}" class="modal-form-trigger red-text text-darken-1">
        {% else %}
       <tr id="budget-line-{{ item.itemid }}" name="{{ item.istoday }}" title="{{ item.itemnote }}" class="modal-form-trigger">
        {% endif %}

        <td name="{{ item.itemid }}_header">{{ item.itemdate }}  {{ item.istoday }}</td>
        <td name="{{ item.itemid }}_header">{{ item.name }}</td>

       {% if item.isincome %}
        <td name="id_itemAmmount" class="light-green-text text-darken-2">{{ item.amount }}</td>
        <td name="id_parentItem"><div style="display:none;">{{ item.parent }}</div></td>
       {% else %}
        <td name="id_parentItem"><div style="display:none;">{{ item.parent }}</div></td>
        <td name="id_itemAmmount" class="red-text text-darken-2">{{ item.amount }}</td>      
       {% endif %}

        <td>{{ item.running_total }}</td>
        <td name="id_itemNote" <div style="display:none;">{{ item.itemnote }}</div></td> 
        <td name="{{ item.itemid }}_cycle"><div style="display:none;">{{ item.cycle }}</div></td> 
      </tr>
    
      {% endfor %}

     <tbody>
   </table>
       <!-- Modal Structure --> 
       <div id="modal1" class="modal modal-fixed-footer"> 
          <div class="modal-content"> 
            <h4>Edit Item</h4>
            <h5 id="subhead"></h5> 
            <form id="modalform" action="/config/" method="post"> 
             {% csrf_token %}
             {{ form }} 
             <div id="radios" class="radio"> 
              <input title="Apply Changes to this line only" id="single" type="radio" name="edit_opt" value="single"
checked="checked"> 
              <label for="single">This date only</label> 
              <input title="Apply Changes to this line and future dates"id="future" type="radio" name="edit_opt" value="future"> 
              <label for="future">Future</label> 
              <input title="Apply Changes to all lines like this" id="all" type="radio" name="edit_opt" value="all"> 
              <label for="all">All</label> 
             </div> 
          </div> 
          <div class="modal-footer"> 
              <input type="submit" name="edit_btn" value="Update" class="btn"/> 
              <input type="submit" name="edit_btn" value="Delete" class="btn"/> 
              <a href="#" class="modal-action modal-close btn"/>Cancel</button>
          </div> 
       </div> 
       <!-- End of Modal --> 

  </div>
  </div>
 </div>
 {% else %}
 <div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card">
      <div class="card-content welcome">
        <span class="card-title">Welcome to PayPlanner!</span>
        <p><strong>A simplistic budget tool.</strong></p>
      </div> 
      <div class="card action">
        <p>Please use at your own risk, and avoid inputing account numbers or any other sensitive information.</p>
        <p>It is recommended that you visit <a title="Manage Settings" href="{% url 'manage' %}">Account Settings</a> and configure spending categories before inputing your budget.</p>
      </div>
    </div>
        <input type="submit" name="config_btn" value="Add Income" class="btn left teal lighten-2"/>
        <input type="submit" name="config_btn" value="Add Expense" class="btn right teal lighten-2"/>
  </div>
</form>
</div>
 {% endif %}
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

