{% extends "base.html" %}
{% comment %}
Item edit template
Author: Matt Agresta
Created on: 9/4/2016
TODO:
Add if statement to read variable to see if income or expense and
put correct title
{% endcomment %}

{% block title %}
<title>Account Settings</title>
{% endblock %}

{% block content %}
<div class="container">
 <div class="row form">
  <div class="col s12">
   <form action="{% url 'manage' %}" method="post">
     {% csrf_token %}
     {% if form.Meta.name == 'User Categories' %}
      <div class="browser-default">
      {{ form.as_table }}
      </div>
     {% else %}
      {{ form.as_table }}
     {% endif %}
  </div>
 </div>
 <div class="row form">
     {% for hidden in form2.hidden_fields %}
  <div class="col s12">{{ hidden }}</div>
     {% endfor %}
  
 </div>
 <div class="row">
     {% for field in form2.visible_fields %}
       <div class="col s6">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
         <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
       </div>
     {% endfor %}
 </div>
 <div class="row center">
  <div class="col s12">
   {% if is_get %}
    <ul class="collection btn-group">
     <li><button name="account_mgmt_btn" value="Edit Profile" class="btn-grp btn btn-large"><i class="large material-icons left">person</i>Edit Profile</button></li>
     <li><button name="account_mgmt_btn" value="Edit Categories" class="btn-grp btn btn-large"><i class="large material-icons left">tune</i>Edit Categories</button></li>
     <li><a class="btn btn-grp btn-large modal-trigger" href="#modal1"><i class="large material-icons left">delete</i>Delete Budget</a></li>

       <!-- Modal Structure -->
       <div id="modal1" class="modal bottom-sheet">
          <div class="modal-content">
             <h4>Delete Budget?</h4>
             <p>This will erase your budget, are you sure?</p>
          </div>
          <div class="modal-footer">
             <button name="account_mgmt_btn" value="Delete Budget" class="btn">Yes</button>
             <button name="account_mgmt_btn" value="Home" class="btn">No</button>
          </div>
       </div>
      <!-- End of Modal -->

     <li><a class="btn btn-grp btn-large modal-trigger" href="#modal2"><i class="large material-icons left">delete_forever</i>Delete Account</a></li>

      <!-- Modal Structure -->
       <div id="modal2" class="modal bottom-sheet">
          <div class="modal-content">
             <h4>Delete Account?</h4>
             <p>This will erase all of your data, are you sure?</p>
          </div>
          <div class="modal-footer">
             <button name="account_mgmt_btn" value="Delete Account" class="btn">Yes</button>
             <button name="account_mgmt_btn" value="Home" class="btn">No</button>
          </div>
       </div>
       <!-- End of Modal -->

     <li><button name="account_mgmt_btn" value="Home" class="btn-grp btn btn-large"><i class="large material-icons left">home</i>Home</button></li>
    </ul>
   {% else %}
    <input type="hidden" name="formdata" value="{{ nextform }}"/>

     <input type="submit" name="account_mgmt_btn" value="Save {{ form.Meta.name }}" class="btn btn-primary">
      {% if form.Meta.has_key %}
     <a class="btn modal-trigger" href="#modal3"><i class="large material-icons left">add</i>Category</a>
       
       <!-- Modal Structure -->
       <div id="modal3" class="modal modal-fixed-footer">
          <div class="modal-content">
             <h4>Add Category</h4>
             {{ form3 }}
          </div>
          <div class="modal-footer">
             <button name="account_mgmt_btn" value="Save {{ form3.Meta.name }}" class="btn btn-primary">Save</button>
          </div>
       </div>
       <!-- End of Modal -->
   
      {% endif %}
     <input type="submit" name="account_mgmt_btn" value="Cancel" class="btn btn-default"/>

   {% endif %}
  </div>
 </div>
</form>
</div>
{% endblock %}
{% block footer %}
<div class="center">{{ footer }}</div>
{% endblock %}

