{% extends "base.html" %}
{% comment %}
User Registration template
Author: Matt Agresta
Created on: 9/21/2016

{% endcomment %}

{% block title %}
<title>User Registration</title>
{% endblock %}

{% block content %}
<div class="col s12 m6 push-m3">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Please Register</span>
    </div>
    <div class="card action"> 
      {%if form.errors %}
      <p> Invalid username/password combination, please try again </p>
      {% endif %}
      <form action="{% url 'reg' %}" method="post" class="regform">
      {% csrf_token %}
      {{ form }}
    </div>
  </div>
  <div class="valign-wrapper">
      <input type="submit" id="submit" name="submit" value="Sign in" class="btn valign"/>
      <input type="hidden" name="next" value="{{ next }}" />  
  </div>      
      </form>
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

