

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
    color:red;
}
.well{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,1969aa+44,207cca+75,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #1969aa 44%, #207cca 75%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#1969aa 44%,#207cca 75%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#1969aa 44%,#207cca 75%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    color: rgb(255,255, 240);
    font-weight: bold;
    height: 25%;
    margin: 0 auto;
}

.btn-xl {
   .button-size(20px; 20px; 24px; 1; 10px);
}

.center {
    text-align: center;
}
.left {
    test-align: left;
}
.nav{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
    
label {
    display: block;
    font-size: 150%;
}

.button {
    font-size: 100%;
}

.debit {
    color: green;
}

.credit {
    color: red;
}

a.page-header {
    border: 0px;
}
a.page-header:link {
    text-decoration: none;
    color: rgb(255, 255, 240);
}

a.page-header:visited {
    text-decoration: none;
    color: rgb(255, 255, 240);
}

a.page-header:hover {
    text-decoration: underline;
    color: rgb(245, 245, 230);
}

a.page-header:active {
    text-decoration: underline;
    color: rgb(245, 245, 230);
}

.radio {
    width: 70%;
    margin: 0 auto;
}

.radio label {
    font-size: 10pt;
}
