
.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
    color:red;
}

.button {
    font-size: 100%;
}

.debit {
    color: green;
}

.credit {
    color: red;
}

.radio {
    width: 70%;
    margin: 0 auto;
}

.radio label {
    font-size: 10pt;
}

label#id_budgetLength {
    font-size: 5em;
}

label#id_histLength {
    font-size: 5em;
}

#id_budgetLength, #id_histLength {
    vertical-align: top;
    width: 25%;
    min-width: 60px;
}

/* Format btn group adding onto materialize collection class */

.collection.btn-group {
    border: none;
}

.btn-grp {
    width: 40%;
}

/* Format materialize rows containing forms */
.row.form {
   margin: 0 auto;
}

/* Currect select box labels for materialize */
.select-wrapper+label {
   margin: 24 auto;
}

/* Format registration form */
.regform {
  margin: 30 20px;
  padding-bottom: 10px;
}

.regform label {
  padding: 5 0px
}
.regform span {
  font-size: 10pt;
}

input#id_username, input#id_password2 {
  margin-bottom: 5px;
}

/* welcome message formatting */
form p {
  margin: 10 10px;
  padding: 5 5px;
}

.card .card-content.welcome {
  padding-bottom: 0px;
}
