{% extends "base.html" %}
{% comment %}
Item edit template
Author: Matt Agresta
Created on: 9/4/2016
TODO:
Add if statement to read variable to see if income or expense and
put correct title
{{form.username.label_tag}}{{form.username}}
{{form.password.label_tag}}{{form.password}}<br>
<input type="submit" id="submit" name="submit" value="Sign in" />
<input type="hidden" name="next" value="{{ next }}" />
{% endcomment %}


{% block content %}
{%if form.errors %}
    <p> Invalid username/password combination, please try again </p>
    {% endif %}
    <div class="center">
    <div class="form-group">
    <h1>Please sign in</h1>
      <form action="{% url 'pwreset' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
      </form>
    </div>
    </div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

