{% extends "base.html" %}
{% comment %}
PW Reset
Author: Matt Agresta
Created on: 9/4/2016

{% endcomment %}


{% block content %}
{%if form.errors %}
    <p> Invalid username/password combination, please try again </p>
    {% endif %}
    <div class="center">
    <div class="form-group">
    <h1>Please sign in</h1>
      <form action="{% url 'pwreset' %}" method="post">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    </div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

