{% extends "base.html" %}
{% comment %}
Login
Author: Matt Agresta
Created on: 9/20/2016

{% endcomment %}
{% block title %}
<title>PayPlanner Login</title>
{% endblock %}
{% block content %}
<div class="col s12 m4 push-m4">
  <div class="card">
   <div class="card-content">
    {%if form.errors %}
      <p> Invalid username/password combination, please try again </p>
    {% endif %}
      <span class="card-title">Please sign in</span>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form }}
   </div>
   <div class="card-action center">
        <input type="submit" id="submit" name="submit" value="Sign in" class = "btn valign"/>
        <input type="hidden" name="next" value="{{ next }}" />        
      </form>
   </div>
  </div>
    <a href="/register" id="new">new user</a><br />
    <a href="{% url "password_reset_recover" %}" id="forgot"> forgot username/password</a><br />
</div>
{% endblock %}
{% block footer %}
{{ footer }}
{% endblock %}

